<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'" href="{{ product.link }}">
      {{ product.name }}
    </a>
  </h3>
  <img src="{{ product.image }}" width="200">
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <p *ngIf="product.rating">
    Rating: {{ product.rating }}
  </p>
  <a *ngIf="product" href="https://telegram.me/share/url?url={{product.link}}&text={{product.name}}">
    <button type="button" (click)="share()">
      Share
    </button>
  </a>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>
</div>
